@font-face {
  font-family: 'Poppins-Regular';
  src: url('./Components/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('./Components/Fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./Components/Fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: Poppins-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}